<div class="container mt-4 text-center">
    <h1>Alpha Blog Users</h1>
    <div class="flickr_pagination mb-3">
    <%= will_paginate @users, :container => false %>
    </div>
    <%@users.each do |user|%>
        <div class="card text-center my-4 mb-3 shadow  bg-white rounded">
            <div class="card-header">
                <%= link_to user.username, user %> 
            </div>
            <div class="card-body">
                <p class="card-text"><%= pluralize(user.articles.count, "article") %></p>
                <%= link_to "View profile", user, class: "btn btn-outline-dark"%>
                <% if logged_in? %>
                    <% if user == current_user%>
                <%= link_to "Edit profile", edit_user_path(user), class: "btn btn-outline-secondary"%>
                    <% end %>
                    <% if current_user.admin? %>
                     <%= link_to "Delete user", user_path(user), class:"btn btn-outline-danger", method: :delete,
                     data: {confirm: "Are you sure?"}%>
                     <% end %>
                <% end %>
            </div>
        <div class="card-footer text-muted">
            <small> Joined <%= time_ago_in_words(user.created_at)%> ago!
            </small>
        </div>
    </div>
    
<%end%>
<br>
<br>
<br>

</div>